<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">You have successfully logged in.</p>
  <hr class="my-4">
  <%= button_to "Logout", logout_users_path, method: :get, class: "btn btn-danger btn-lg" %>
</div>