<div>
  <%= form_tag confirmations_path, method: :post, autocomplete: "off" do %>
    <div class="group">
      <%= label_tag :verification_code %>
      <%= text_field_tag :verification_code %>
    </div>
    <div class="group">
      <%= submit_tag "Submit", class: "button" %>
    </div>
  <% end %>
</div>