<h1>Let's confirm your identity</h1>

<p>We have sent you a SMS with a link to an app to download called Authy.</p>

<p>Once you have Authy set up, please enter the token below.</p>
<div>
  <%= form_tag confirmations_path, method: :post, autocomplete: "off" do %>
    <div class="group">
      <%= text_field_tag :token %>
    </div>
    <div class="group">
      <%= submit_tag "Submit", class: "button" %>
    </div>
  <% end %>
</div>